{% extends "root_template.html" %}
{% block content %}

    <!--
    <h3>Started Project 1</h3>
    <h3>Static Info</h3>
    <br><br><br>   

    {% for i in posts %}
        <h1>    {{ i.title }}</h1>
        <P> By {{ i.name }} on {{ i.date }} </P>
        <p> {{ i.content }}</P>
        
        <br><br><br>
    {%endfor%}  -->

    
    <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ url_for('static', filename='pics/' + post.author.image_file) }}">
        <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2" href="#">{{ post.author.username }}</a>
            <small class="text-muted">{{ post.date.strftime('%d-%m-%Y') }}</small>
            {% if post.author == current_user %}
                
                <!--  Update Post -->
                <div>
                  <a class="btn btn-secondary btn-sm m-1" href="{{ url_for('posts.update_post', post_id=post.id) }}">Update</a>

                <!--- Delete Post -->
                
                  <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
                </div>
            {% endif %}
          </div>
          <h2 class="article-title">{{ post.title }}</a></h2>
          <p class="article-content">{{ post.content }}</p>
        </div>
    </article>
    
    <!-- Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteModalLabel">Delete Post?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <form action="{{ url_for('posts.delete_post', post_id=post.id) }}" method="POST">
              <input class="btn btn-danger" type="submit" value="Delete">
            </form>
          </div>
        </div>
      </div>
    </div> 

{% endblock content %}
